body {
  font-family: Arial, sans-serif;
}
h1 {
  letter-spacing: 1px;
}

h2.subtitle {
  font-style: italic;
  font-weight: 100;
  font-size: 28px;
}

span.bold {
  font-weight: bold;
}

span.light {
  color: #939598;
}
