div.navbar {
  min-height: 100vh;
  width: 200px;
  background-color: $darkgrey;
  display: inline-block;
  float: left;

  .links {
    padding: 15px 0 15px 40px;
    text-align: left;
  }

  .signOut{
    bottom: 0;
    position: absolute;
    padding-bottom: 20px;
    width: 200px;

  }
}

div.navbar .logo {
  height: 50px;
  width: 200px;
  background-color: $orange;

  p {
    color: $white;
    margin: 0;
    font-size: 20px;
    padding-top: 15px;
    letter-spacing: 1.5px;
  }

}

a {
  color: $white;
  letter-spacing: 1px;
  text-decoration: none;
}

div.links.active {
  background-color: $white;
  border-left: solid 2.5px $orange; 

  a {
    color: $darkgrey;
  }
}
