body {
  text-align: center;
}

// Projects Page

.cardInfoContainer {
  text-align: left;
  margin-left: 15px;
}

.projectsPageProgressItem {
  padding: 20px;
  border-bottom: solid 1px #D1D3D4;

  div.progressItemButtonContainer{
    max-width: 20%;
    float: right;
  }

  div.progressItemBarContainer{
    display: inline-block;
    min-width: 25%;
    max-width: 25%;
  }
}

// Job Page
div.jobHeader {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
  padding: 10px 20% 50px 20%;
}

div.jobNameTitle {
  display: inline-block;
  min-width: 50%;
}

div.jobLogo {
  display: inline-block;
  min-width: 50%;
}

div.pageContents {
  display: inline-block;
  width: calc(100vw - 200px); 
}
