body {
  font-family: Arial, sans-serif; }

h1 {
  letter-spacing: 1px; }

h2.subtitle {
  font-style: italic;
  font-weight: 100;
  font-size: 28px; }

span.bold {
  font-weight: bold; }

span.light {
  color: #939598; }

body {
  text-align: center; }

.cardInfoContainer {
  text-align: left;
  margin-left: 15px; }

.projectsPageProgressItem {
  padding: 20px;
  border-bottom: solid 1px #D1D3D4; }
  .projectsPageProgressItem div.progressItemButtonContainer {
    max-width: 20%;
    float: right; }
  .projectsPageProgressItem div.progressItemBarContainer {
    display: inline-block;
    min-width: 25%;
    max-width: 25%; }

div.jobHeader {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px 20% 50px 20%; }

div.jobNameTitle {
  display: inline-block;
  min-width: 50%; }

div.jobLogo {
  display: inline-block;
  min-width: 50%; }

div.stepFormRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

div.stepFormTile {
  flex-grow: 1; }

div.progressItemInfo {
  text-align: center;
  display: inline-block;
  min-width: 15%;
  max-width: 15%; }

img.logo.mini {
  max-height: 20px; }

img.logo.sml {
  max-height: 40px; }

img.logo.md {
  max-height: 100px; }

img.logo.lrg {
  max-height: 190px; }

a.links {
  text-decoration: none;
  color: #414042; }
  a.links.green {
    color: #7CB160; }
  a.links.orange {
    color: #F06734; }
  a.links.white {
    color: #F1F2F2; }
  a.links.underlined {
    text-decoration: underline; }

div.greyedInput {
  display: inline-block;
  padding-left: 100px;
  padding-right: 20px;
  background-color: #d1d3d4;
  border: solid 1.2px #bcbec0; }
  div.greyedInput p {
    margin: 5px 0;
    color: #939598; }
