body {
  font-family: Arial, sans-serif; }

h1 {
  letter-spacing: 1px; }

h2.subtitle {
  font-style: italic;
  font-weight: 100;
  font-size: 28px; }

span.bold {
  font-weight: bold; }

span.light {
  color: #939598; }

body {
  text-align: center; }

.cardInfoContainer {
  text-align: left;
  margin-left: 15px; }

.projectsPageProgressItem {
  padding: 20px;
  border-bottom: solid 1px #D1D3D4; }
  .projectsPageProgressItem div.progressItemButtonContainer {
    max-width: 20%;
    float: right; }
  .projectsPageProgressItem div.progressItemBarContainer {
    display: inline-block;
    min-width: 25%;
    max-width: 25%; }

div.jobHeader {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px 20% 50px 20%; }

div.jobNameTitle {
  display: inline-block;
  min-width: 50%; }

div.jobLogo {
  display: inline-block;
  min-width: 50%; }

div.pageContents {
  display: inline-block;
  width: calc(100vw - 200px); }

div.progressItemInfo {
  text-align: center;
  display: inline-block;
  min-width: 15%;
  max-width: 15%; }

img.logo.mini {
  max-height: 20px; }

img.logo.sml {
  max-height: 40px; }

img.logo.md {
  max-height: 100px; }

img.logo.lrg {
  max-height: 190px; }

a.links {
  text-decoration: none;
  color: #414042; }
  a.links.green {
    color: #7CB160; }
  a.links.orange {
    color: #F06734; }
  a.links.white {
    color: #F1F2F2; }
  a.links.underlined {
    text-decoration: underline; }

div.greyedInput {
  display: inline-block;
  padding-left: 100px;
  padding-right: 20px;
  background-color: #d1d3d4;
  border: solid 1.2px #bcbec0; }
  div.greyedInput p {
    margin: 5px 0;
    color: #939598; }

.signInPage {
  background-color: #505150;
  min-height: 100vh;
  min-width: 100vh;
  color: #ffffff; }
  .signInPage div.left {
    display: inline-block;
    min-height: 100vh;
    max-width: 50%;
    min-width: 50%;
    position: relative; }
  .signInPage div.right {
    display: inline-block;
    min-height: 100vh;
    max-width: 48%;
    min-width: 48%; }
  .signInPage div.border {
    min-height: 80vh;
    width: 5px;
    border-right: solid 2px #FFFFFF;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .signInPage div.left div.contents {
    height: 40vh;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .signInPage div.left h1 {
    font-size: 60px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 10px; }
  .signInPage div.right div.contents {
    height: 40vh;
    width: 50%;
    position: absolute;
    top: 48%;
    transform: translateY(-52%); }
  .signInPage p {
    padding: 0 15%;
    font-size: 25px;
    line-height: 1.3; }
  .signInPage div.right h1 {
    font-size: 60px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 10px; }
  .signInPage .input {
    background-color: #505150;
    color: #ffffff;
    border: solid 1px #ffffff;
    padding: 10px;
    font-size: 16px;
    min-width: 50%; }
  .signInPage ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ffffff; }
  .signInPage ::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff; }
  .signInPage :-ms-input-placeholder {
    /* IE 10+ */
    color: #ffffff; }
  .signInPage :-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff; }
  .signInPage .signInButton {
    margin-top: 20px !important; }
  .signInPage div.forgotPasswordDiv {
    margin-top: 20px; }
  .signInPage a.links.forgotPassword {
    color: #7CB160; }

div.navbar {
  min-height: 100vh;
  width: 200px;
  background-color: #414042;
  display: inline-block;
  float: left; }
  div.navbar .links {
    padding: 15px 0 15px 40px;
    text-align: left; }
  div.navbar .signOut {
    bottom: 0;
    position: absolute;
    padding-bottom: 20px;
    width: 200px; }

div.navbar .logo {
  height: 50px;
  width: 200px;
  background-color: #F06734; }
  div.navbar .logo p {
    color: #F1F2F2;
    margin: 0;
    font-size: 20px;
    padding-top: 15px;
    letter-spacing: 1.5px; }

a {
  color: #F1F2F2;
  letter-spacing: 1px;
  text-decoration: none; }

div.links.active {
  background-color: #F1F2F2;
  border-left: solid 2.5px #F06734; }
  div.links.active a {
    color: #414042; }

.dashboard .subtitle {
  font-size: 22px;
  text-align: left;
  margin: 0 50px 20px 50px;
  padding-bottom: 10px;
  border-bottom: solid 1px; }

.dashboard .none {
  font-style: italic; }

.upcoming {
  width: 80%;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 10px 0; }

.text {
  float: left;
  display: inline-block;
  padding-left: 70px; }
