body {
  font-family: Arial, sans-serif; }

h1 {
  letter-spacing: 1px; }

h2.subtitle {
  font-style: italic;
  font-weight: 100;
  font-size: 28px; }

span.bold {
  font-weight: bold; }

span.light {
  color: #939598; }

body {
  text-align: center; }

img.logo.mini {
  max-height: 20px; }

img.logo.sml {
  max-height: 40px; }

img.logo.md {
  max-height: 100px; }

img.logo.lrg {
  max-height: 190px; }
